In [147]:
import numpy as np
import pandas as pd
import time

cat_name_agent = ['Docked', 'Arrived', 'Counting','QC', 'Labeling', 'Received', 'Putaway', 'Picking', 'Packing',
                  'AWB', 'RTS', 'RT_picking', 'RT_putaway', 'Cyclecount']

productivity_varable = {
    'DL%':1,
    'DL % threshold':0.6,
    'Docked':75,
    'Arrived':125,
    'QC':4638,
    'Labeling':850,
    'Received':800,
    'Putaway':65,
    'Putaway_4floor':65,
    'Picking':114,
    'Packing':143,
    'Counting':1000,
    'AWB':720,
    'RTS':300,
    'RT_picking':726,
    'RT_putaway':726,
    'RT_picking_4floor':726,
    'RT_putaway_4floor':726,
    'Cyclecount':850,
    'Cyclecount_4floor':850
}

team_prod_dict = {
    'Picking':'出貨控場',
    'Packing':'出貨控場',
    'AWB':'出貨控場',
    'Arrived':'進貨控場',
    'Counting':'進貨控場',
    'QC':'進貨控場',
    'Labeling':'進貨控場',
    'Received':'進貨控場',
    'Docked':'進貨控場',
    # 'Print':'進貨控場',
    'RT_picking':'移庫控場',
    'RT_putaway':'移庫控場',
    'RT_picking_4floor':'移庫控場_四樓',
    'RT_putaway_4floor':'移庫控場_四樓',
    'RTS':np.nan,
    'Putaway':'上架控場',
    'Putaway_4floor':'上架控場_四樓',
    'Cyclecount':'盤點控場',
    'Cyclecount_4floor':'盤點控場_四樓'
}

whole_df = pd.read_csv('whole_df.csv', index_col=0, parse_dates=['create_time'])
punch_df = pd.read_csv('punch_df.csv', parse_dates=['date', 'created_time', 'end_time'])

In [158]:
print(whole_df.shape)
print(whole_df['type'].unique())
whole_df.head()

(798878, 9)
['Labeling' 'Picking' 'Packing' 'AWB' 'RT_picking' 'Putaway' 'RT_putaway'
 'RTS' 'QC' 'Arrived' 'Received' 'Docked' 'Counting' 'Cyclecount']

,name,operator,type,create_time,pcs,box,orders,total_pcs,date
197297,温佩儀,sp2375,Labeling,2021-05-30 14:07:08,360.0,0,0,360.0,2021-05-30
197296,莊博勛,sp2906,Labeling,2021-05-30 14:07:08,320.0,0,0,320.0,2021-05-30
197298,莊博勛,sp2906,Labeling,2021-05-30 14:21:51,240.0,0,0,240.0,2021-05-30
197299,蕭喬褘,sp2795,Labeling,2021-05-30 14:44:44,180.0,0,0,180.0,2021-05-30
197300,傅思敏,sp2104,Labeling,2021-05-30 15:00:43,120.0,0,0,120.0,2021-05-30

In [159]:
print(punch_df.shape)
print(punch_df['type'].unique())
punch_df.head()

(26524, 16)
['Picking' nan 'AWB' 'Packing' 'RT_putaway' 'RT_picking' 'RTS' 'Docked'
 'QC' 'Counting' 'Labeling' 'Received' 'Arrived' 'Putaway_4floor'
 'Putaway' 'Cyclecount' 'RT_picking_4floor' 'Cyclecount_4floor'
 'RT_putaway_4floor']

,date,ID,name,role,class,group,function,Unnamed: 7,function_name,function_role,min,created_time,end_time,type,hour,revised station
0,2021-06-01,sp1841,李文漩,外包,全,OUTBOUND,揀貨,OUTBOUND,PICKING,PICKING,248.0,2021-06-01 06:48:02,2021-06-01 10:56:11,Picking,4.133333,picking
1,2021-06-01,sp99088,李奇泰,正職,小夜,OUTBOUND,出貨控場,OUTBOUND,MGMT,CONTROL,254.0,2021-06-01 06:50:39,2021-06-01 11:04:43,NaN,4.233333,CONTROL
2,2021-06-01,sp0575,林美芳,約聘,早7,OUTBOUND,揀貨,OUTBOUND,PICKING,PICKING,146.0,2021-06-01 06:51:28,2021-06-01 09:17:57,Picking,2.433333,picking
3,2021-06-01,sp1135,李郁慧,約聘,早7,OUTBOUND,揀貨,OUTBOUND,PICKING,PICKING,69.0,2021-06-01 06:51:31,2021-06-01 08:01:19,Picking,1.150000,picking
4,2021-06-01,sp2427,傅琇蓁,約聘,早7,OUTBOUND,揀貨,OUTBOUND,PICKING,PICKING,39.0,2021-06-01 06:52:04,2021-06-01 07:31:20,Picking,0.650000,picking

In [173]:
whole_df['date'] = whole_df['create_time'].dt.date

work_time = punch_df.groupby(['date', 'ID', 'type'])['hour'].agg([np.sum])\
                    .rename(columns={'sum':'hour'})\
                    .reset_index()
work_time['merge_type'] = work_time['type'].str.replace('_4floor', '')

total_pcs = whole_df.groupby(['date', 'operator', 'type'])['total_pcs'].agg([np.sum])\
                    .rename(columns={'sum':'total_pcs'})\
                    .reset_index()

work_time['date'] = work_time['date'].astype('str')  # 轉為字串形式以利合併
total_pcs['date'] = total_pcs['date'].astype('str')  # 轉為字串形式以利合併

productivity = work_time.merge(total_pcs, left_on=['date', 'ID', 'merge_type'], right_on=['date', 'operator', 'type'], how='inner')\
                        .rename(columns={'type_x':'type'})

productivity = productivity[['date', 'ID', 'type', 'hour', 'operator', 'total_pcs']]
productivity['target'] = productivity['type'].apply(lambda type_:productivity_varable[type_])
productivity['team'] = productivity['type'].apply(lambda type_:team_prod_dict[type_])
productivity['meet_target'] = ((productivity['total_pcs'] / productivity['hour']) >= productivity['target']).astype('int')  # 每小時完成數量比目標多，1是有達標、0是沒達標

# 1. productivity_raw: 每天每個category的工作人數、達標人數、達標率(呈現在同一張表)
productivity_raw = productivity.groupby(['team', 'type', 'date'])['meet_target'].agg([np.sum, 'count']).reset_index()
productivity_raw.columns = ['function', 'type', 'create_date', 'arrive_thres', 'count']
productivity_raw['prod_day_ratio'] = productivity_raw['arrive_thres'] / productivity_raw['count']

# 2~4. 每天每個category的工作人數(productivity_ppl_category)、達標人數(productivity_meet_category)與達標率(productivity_mean_category)
productivity_ppl_category = pd.crosstab(productivity['date'], productivity['type'])
productivity_meet_category = pd.crosstab(productivity['date'], productivity['type'],
                                         values=productivity['meet_target'], aggfunc=np.sum).fillna(0)
productivity_mean_category = productivity_meet_category / productivity_ppl_category

# 5~7. 每天每個function的工作人數(productivity_ppl_function)、達標人數(productivity_meet_function)與達標率(productivity_mean_function)
productivity_ppl_function = pd.crosstab(productivity['date'], productivity['team'])
productivity_meet_function = pd.crosstab(productivity['date'], productivity['team'],
                                         values=productivity['meet_target'], aggfunc=np.sum).fillna(0)
productivity_mean_function = productivity_meet_function / productivity_ppl_function

# 8. productivity_team_function: 呈現每天每個function的管理人員達標率
productivity_function = productivity.groupby(['team', 'date'])['meet_target'].agg([np.sum, 'count']).reset_index()
productivity_function.columns = ['function', 'create_date', 'arrive_thres', 'count']
productivity_function['prod_day_ratio'] = productivity_function['arrive_thres'] / productivity_function['count']
productivity_function['create_date'] = productivity_function['create_date'].astype('str')

prod_day_ratio = punch_df[punch_df['function_name'] == 'MGMT'][['ID', 'name', 'date', 'function']].drop_duplicates()
prod_day_ratio['date'] = prod_day_ratio['date'].astype('str')
prod_day_ratio = prod_day_ratio.merge(productivity_function, left_on=['date', 'function'], right_on=['create_date', 'function'])
productivity_team_function = pd.crosstab([prod_day_ratio['ID'], prod_day_ratio['name'], prod_day_ratio['function']],
                                         prod_day_ratio['date'],
                                         values=prod_day_ratio['prod_day_ratio'], aggfunc='mean')
productivity_team_function['date_on_duty'] = productivity_team_function.count(axis=1)

# 9. productivity_tl : 計算每個管理人員一個月的績效平均
productivity_tl = prod_day_ratio.groupby(['ID', 'name'])['prod_day_ratio'].agg(['count', np.mean])\
                                .rename(columns={'count':'days_on_duty', 'mean':'TL_produtivity_score'})

# 10. team_df
team_df = punch_df[punch_df['function_name'] == 'MGMT']
team_df = team_df[['ID', 'name', 'function', 'date', 'role', 'class', 'group', 'Unnamed: 7', 'function_name', 'function_role', 'min', 'hour']]
team_df = team_df.groupby(['ID', 'name', 'function', 'date', 'role', 'class', 'group', 'Unnamed: 7', 'function_name', 'function_role'])[['min', 'hour']].agg([np.sum])\
                 .reset_index()
team_df.columns = ['ID', 'name', 'function', 'date', 'role', 'class', 'group', 'Unnamed: 7', 'function_name', 'function_role', 'min', 'hour']
team_df['date'] = team_df['date'].astype('str')
team_df = team_df.merge(productivity_function, left_on=['function', 'date'], right_on=['function', 'create_date'], how='left')

,ID,name,function,date,role,class,group,Unnamed: 7,function_name,function_role,min,hour,create_date,arrive_thres,count,prod_day_ratio
0,sp0519,李軍,盤點控場,2021-06-10,實習生,早7,INBOUND,COUNT,MGMT,CONTROL,5.0,0.083333,2021-06-10,2.0,16.0,0.125000
1,sp1005,唐慧芳,盤點控場,2021-06-11,實習生,早9,INBOUND,COUNT,MGMT,CONTROL,0.0,0.000000,2021-06-11,3.0,22.0,0.136364
2,sp1272,鄒珮琪,移庫控場_四樓,2021-06-01,約聘,早9,INBOUND,TRANSFER,MGMT,CONTROLFOURF,779.0,12.983333,NaN,NaN,NaN,NaN
3,sp1272,鄒珮琪,移庫控場_四樓,2021-06-06,約聘,早9,INBOUND,TRANSFER,MGMT,CONTROLFOURF,733.0,12.216667,2021-06-06,0.0,27.0,0.000000
4,sp1272,鄒珮琪,移庫控場_四樓,2021-06-07,約聘,早9,INBOUND,TRANSFER,MGMT,CONTROLFOURF,696.0,11.600000,2021-06-07,2.0,17.0,0.117647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,sp99103,李浤銘,移庫控場,2021-06-23,正職,小夜,OUTBOUND,TRANSFER,MGMT,CONTROL,693.0,11.550000,2021-06-23,2.0,24.0,0.083333
311,sp99103,李浤銘,移庫控場,2021-06-27,正職,小夜,OUTBOUND,TRANSFER,MGMT,CONTROL,559.0,9.316667,2021-06-27,1.0,22.0,0.045455
312,sp99103,李浤銘,移庫控場,2021-06-28,正職,小夜,OUTBOUND,TRANSFER,MGMT,CONTROL,682.0,11.366667,2021-06-28,5.0,41.0,0.121951
313,sp99103,李浤銘,移庫控場,2021-06-29,正職,小夜,OUTBOUND,TRANSFER,MGMT,CONTROL,682.0,11.366667,2021-06-29,2.0,25.0,0.080000
314,sp99103,李浤銘,移庫控場,2021-06-30,正職,小夜,OUTBOUND,TRANSFER,MGMT,CONTROL,641.0,10.683333,2021-06-30,1.0,33.0,0.030303

In [ ]:
def get_prod_TL_score(productivity_varable, team_prod_dict, whole_df, punch_df, tl_output_path):
    whole_df['date'] = whole_df['create_time'].dt.date

    work_time = punch_df.groupby(['date', 'ID', 'type'])['hour'].agg([np.sum])\
                        .rename(columns={'sum':'hour'})\
                        .reset_index()
    work_time['merge_type'] = work_time['type'].str.replace('_4floor', '')

    total_pcs = whole_df.groupby(['date', 'operator', 'type'])['total_pcs'].agg([np.sum])\
                        .rename(columns={'sum':'total_pcs'})\
                        .reset_index()

    work_time['date'] = work_time['date'].astype('str')  # 轉為字串形式以利合併
    total_pcs['date'] = total_pcs['date'].astype('str')  # 轉為字串形式以利合併

    productivity = work_time.merge(total_pcs, left_on=['date', 'ID', 'merge_type'], right_on=['date', 'operator', 'type'], how='inner')\
                            .rename(columns={'type_x':'type'})

    productivity = productivity[['date', 'ID', 'type', 'hour', 'operator', 'total_pcs']]
    productivity['target'] = productivity['type'].apply(lambda type_:productivity_varable[type_])
    productivity['team'] = productivity['type'].apply(lambda type_:team_prod_dict[type_])
    productivity['meet_target'] = ((productivity['total_pcs'] / productivity['hour']) >= productivity['target']).astype('int')  # 每小時完成數量比目標多，1是有達標、0是沒達標

    # 1. productivity_raw: 每天每個category的工作人數、達標人數、達標率(呈現在同一張表)
    productivity_raw = productivity.groupby(['team', 'type', 'date'])['meet_target'].agg([np.sum, 'count']).reset_index()
    productivity_raw.columns = ['function', 'type', 'create_date', 'arrive_thres', 'count']
    productivity_raw['prod_day_ratio'] = productivity_raw['arrive_thres'] / productivity_raw['count']

    # 2~4. 每天每個category的工作人數(productivity_ppl_category)、達標人數(productivity_meet_category)與達標率(productivity_mean_category)
    productivity_ppl_category = pd.crosstab(productivity['date'], productivity['type'])
    productivity_meet_category = pd.crosstab(productivity['date'], productivity['type'],
                                             values=productivity['meet_target'], aggfunc=np.sum).fillna(0)
    productivity_mean_category = productivity_meet_category / productivity_ppl_category

    # 5~7. 每天每個function的工作人數(productivity_ppl_function)、達標人數(productivity_meet_function)與達標率(productivity_mean_function)
    productivity_ppl_function = pd.crosstab(productivity['date'], productivity['team'])
    productivity_meet_function = pd.crosstab(productivity['date'], productivity['team'],
                                             values=productivity['meet_target'], aggfunc=np.sum).fillna(0)
    productivity_mean_function = productivity_meet_function / productivity_ppl_function

    # 8. productivity_team_function: 呈現每天每個function的管理人員達標率
    productivity_function = productivity.groupby(['team', 'date'])['meet_target'].agg([np.sum, 'count']).reset_index()
    productivity_function.columns = ['function', 'create_date', 'arrive_thres', 'count']
    productivity_function['prod_day_ratio'] = productivity_function['arrive_thres'] / productivity_function['count']
    productivity_function['create_date'] = productivity_function['create_date'].astype('str')

    prod_day_ratio = punch_df[punch_df['function_name'] == 'MGMT'][['ID', 'name', 'date', 'function']].drop_duplicates()
    prod_day_ratio['date'] = prod_day_ratio['date'].astype('str')
    prod_day_ratio = prod_day_ratio.merge(productivity_function, left_on=['date', 'function'], right_on=['create_date', 'function'])
    productivity_team_function = pd.crosstab([prod_day_ratio['ID'], prod_day_ratio['name'], prod_day_ratio['function']],
                                             prod_day_ratio['date'],
                                             values=prod_day_ratio['prod_day_ratio'], aggfunc='mean')
    productivity_team_function['date_on_duty'] = productivity_team_function.count(axis=1)

    # 9. productivity_tl : 計算每個管理人員一個月的績效平均
    productivity_tl = prod_day_ratio.groupby(['ID', 'name'])['prod_day_ratio'].agg(['count', np.mean])\
                                    .rename(columns={'count':'days_on_duty', 'mean':'TL_produtivity_score'})

    # 10. team_df
    team_df = punch_df[punch_df['function_name'] == 'MGMT']
    team_df = team_df[['ID', 'name', 'function', 'date', 'role', 'class', 'group', 'Unnamed: 7', 'function_name', 'function_role', 'min', 'hour']]
    team_df = team_df.groupby(['ID', 'name', 'function', 'date', 'role', 'class', 'group', 'Unnamed: 7', 'function_name', 'function_role'])[['min', 'hour']].agg([np.sum])\
                     .reset_index()
    team_df.columns = ['ID', 'name', 'function', 'date', 'role', 'class', 'group', 'Unnamed: 7', 'function_name', 'function_role', 'min', 'hour']
    team_df['date'] = team_df['date'].astype('str')
    team_df = team_df.merge(productivity_function, left_on=['function', 'date'], right_on=['function', 'create_date'], how='left')

    productivity_ppl_category.reset_index(inplace=True)
    productivity_meet_category.reset_index(inplace=True)
    productivity_mean_category.reset_index(inplace=True)
    productivity_mean_function.reset_index(inplace=True)
    productivity_team_function.reset_index(inplace=True)
    productivity_tl.reset_index(inplace=True)

    with pd.ExcelWriter(tl_output_path) as writer:  
        team_df.to_excel(writer, sheet_name='team_df', index=False)
        productivity_tl.to_excel(writer, sheet_name='productivity_tl', index=False)
        productivity_raw.to_excel(writer, sheet_name='productivity_raw', index=False)
        productivity_ppl_category.to_excel(writer, sheet_name='productivity_ppl_category', index=False)
        productivity_meet_category.to_excel(writer, sheet_name='productivity_meet_category', index=False)
        productivity_mean_category.to_excel(writer, sheet_name='productivity_mean_category', index=False)
        productivity_mean_function.to_excel(writer, sheet_name='productivity_mean_function', index=False)
        productivity_team_function.to_excel(writer, sheet_name='productivity_team_function', index=False)

get_prod_TL_score(productivity_varable, team_prod_dict, whole_df, punch_df, 'TL_test.xlsx')
print('Checkpoint 7 productivity_TL SUCCEED')

In [174]:
def get_prod_TL_score(productivity_varable, team_prod_dict, whole_df, punch_df, tl_output_path):
    whole_df['date'] = whole_df['create_time'].dt.date
    work_time = punch_df.groupby(['date', 'ID', 'type'])['hour'].agg([np.sum])\
                        .rename(columns={'sum':'hour'})\
                        .reset_index()
    work_time['merge_type'] = work_time['type'].str.replace('_4floor', '')

    total_pcs = whole_df.groupby(['date', 'operator', 'type'])['total_pcs'].agg([np.sum])\
                        .rename(columns={'sum':'total_pcs'})\
                        .reset_index()

    work_time['date'] = work_time['date'].astype('str')  # 轉為字串形式以利合併
    total_pcs['date'] = total_pcs['date'].astype('str')  # 轉為字串形式以利合併

    productivity = work_time.merge(total_pcs, left_on=['date', 'ID', 'merge_type'], right_on=['date', 'operator', 'type'], how='inner')\
                            .rename(columns={'type_x':'type'})

    productivity = productivity[['date', 'ID', 'type', 'hour', 'operator', 'total_pcs']]
    productivity['target'] = productivity['type'].apply(lambda type_:productivity_varable[type_])
    productivity['team'] = productivity['type'].apply(lambda type_:team_prod_dict[type_])
    productivity['meet_target'] = ((productivity['total_pcs'] / productivity['hour']) >= productivity['target']).astype('int')  # 每小時完成數量比目標多，1是有達標、0是沒達標

    # 1. productivity_raw: 每天每個category的工作人數、達標人數、達標率(呈現在同一張表)
    productivity_raw = productivity.groupby(['team', 'type', 'date'])['meet_target'].agg([np.sum, 'count']).reset_index()
    productivity_raw.columns = ['function', 'type', 'create_date', 'arrive_thres', 'count']
    productivity_raw['prod_day_ratio'] = productivity_raw['arrive_thres'] / productivity_raw['count']

    # 2~4. 每天每個category的工作人數(productivity_ppl_category)、達標人數(productivity_meet_category)與達標率(productivity_mean_category)
    productivity_ppl_category = pd.crosstab(productivity['date'], productivity['type'])
    productivity_meet_category = pd.crosstab(productivity['date'], productivity['type'],
                                             values=productivity['meet_target'], aggfunc=np.sum).fillna(0)
    productivity_mean_category = productivity_meet_category / productivity_ppl_category

    # 5~7. 每天每個function的工作人數(productivity_ppl_function)、達標人數(productivity_meet_function)與達標率(productivity_mean_function)
    productivity_ppl_function = pd.crosstab(productivity['date'], productivity['team'])
    productivity_meet_function = pd.crosstab(productivity['date'], productivity['team'],
                                             values=productivity['meet_target'], aggfunc=np.sum).fillna(0)
    productivity_mean_function = productivity_meet_function / productivity_ppl_function

    # 8. productivity_team_function: 呈現每天每個function的管理人員達標率
    productivity_function = productivity.groupby(['team', 'date'])['meet_target'].agg([np.sum, 'count']).reset_index()
    productivity_function.columns = ['function', 'create_date', 'arrive_thres', 'count']
    productivity_function['prod_day_ratio'] = productivity_function['arrive_thres'] / productivity_function['count']
    productivity_function['create_date'] = productivity_function['create_date'].astype('str')

    prod_day_ratio = punch_df[punch_df['function_name'] == 'MGMT'][['ID', 'name', 'date', 'function']].drop_duplicates()
    prod_day_ratio['date'] = prod_day_ratio['date'].astype('str')
    prod_day_ratio = prod_day_ratio.merge(productivity_function, left_on=['date', 'function'], right_on=['create_date', 'function'])
    productivity_team_function = pd.crosstab([prod_day_ratio['ID'], prod_day_ratio['name'], prod_day_ratio['function']],
                                             prod_day_ratio['date'],
                                             values=prod_day_ratio['prod_day_ratio'], aggfunc='mean')
    productivity_team_function['date_on_duty'] = productivity_team_function.count(axis=1)

    # 9. productivity_tl : 計算每個管理人員一個月的績效平均
    productivity_tl = prod_day_ratio.groupby(['ID', 'name'])['prod_day_ratio'].agg(['count', np.mean])\
                                    .rename(columns={'count':'days_on_duty', 'mean':'TL_produtivity_score'})

    # 10. team_df
    team_df = punch_df[punch_df['function_name'] == 'MGMT']
    team_df = team_df[['ID', 'name', 'function', 'date', 'role', 'class', 'group', 'Unnamed: 7', 'function_name', 'function_role', 'min', 'hour']]
    team_df = team_df.groupby(['ID', 'name', 'function', 'date', 'role', 'class', 'group', 'Unnamed: 7', 'function_name', 'function_role'])[['min', 'hour']].agg([np.sum])\
                     .reset_index()
    team_df.columns = ['ID', 'name', 'function', 'date', 'role', 'class', 'group', 'Unnamed: 7', 'function_name', 'function_role', 'min', 'hour']
    team_df['date'] = team_df['date'].astype('str')
    team_df = team_df.merge(productivity_function, left_on=['function', 'date'], right_on=['function', 'create_date'], how='left')

    productivity_ppl_category.reset_index(inplace=True)
    productivity_meet_category.reset_index(inplace=True)
    productivity_mean_category.reset_index(inplace=True)
    productivity_mean_function.reset_index(inplace=True)
    productivity_team_function.reset_index(inplace=True)
    productivity_tl.reset_index(inplace=True)

    with pd.ExcelWriter(tl_output_path) as writer:  
        team_df.to_excel(writer, sheet_name='team_df', index=False)
        productivity_tl.to_excel(writer, sheet_name='productivity_tl', index=False)
        productivity_raw.to_excel(writer, sheet_name='productivity_raw', index=False)
        productivity_ppl_category.to_excel(writer, sheet_name='productivity_ppl_category', index=False)
        productivity_meet_category.to_excel(writer, sheet_name='productivity_meet_category', index=False)
        productivity_mean_category.to_excel(writer, sheet_name='productivity_mean_category', index=False)
        productivity_mean_function.to_excel(writer, sheet_name='productivity_mean_function', index=False)
        productivity_team_function.to_excel(writer, sheet_name='productivity_team_function', index=False)

get_prod_TL_score(productivity_varable, team_prod_dict, whole_df, punch_df, 'TL_test.xlsx')
print('Checkpoint 7 productivity_TL SUCCEED')

Checkpoint 7 productivity_TL SUCCEED