In [1]:
# Checkpoint 5-1: 將whole_df、punch_df合併，得到merge_df
def get_merge_df(whole_df, punch_df):
    '''
    將whole_df、punch_df合併，並判斷whole_df的create time是否在punch_df打卡的時段
    input: whole_df, punch_df
    output: merge_df
    '''
    punch_df.sort_values('created_time', inplace=True)
    merge_df = pd.merge_asof(whole_df, punch_df.drop('name', axis=1),
                             left_on="create_time", right_on="created_time",
                             left_by="operator", right_by="ID", direction='backward')\
                            .rename(columns={'type_x':'type', 'type_y':'punch_type'})
    
    merge_df['punch_type'] = merge_df['punch_type'].astype('str')
    merge_df['merge_type'] = merge_df['punch_type'].str.replace('_4floor', '')
    merge_df['valid_time'] = (merge_df['create_time'] >= merge_df['created_time']) &\
                             (merge_df['create_time'] <= merge_df['end_time'])
    merge_df['valid_type'] = (merge_df['type'].values == merge_df['merge_type'].values) &\
                              merge_df['valid_time']
    merge_df['Check Result'] = np.where(merge_df['valid_time'].values, 
                                        np.where(merge_df['valid_type'].values, 'Correct', 'Wrong Station'), 
                                        'No data')

    merge_df['created_time'] = np.where(merge_df['Check Result'].values == 'No data',
                                        np.datetime64('NaT'),
                                        merge_df['created_time'].values)
    merge_df['end_time'] = np.where(merge_df['Check Result'].values == 'No data',
                                    np.datetime64('NaT'),
                                    merge_df['end_time'].values)
    merge_df['print_label'] = np.where(merge_df['Check Result'].values == 'Wrong Station',
                                       merge_df['revised station'].values,
                                       np.nan)
    return merge_df

In [16]:
import pandas as pd
import numpy as np
import datetime
import time
import warnings
warnings.filterwarnings('ignore')

whole_df = pd.read_csv("whole_df.csv", parse_dates=['create_time'])
punch_df = pd.read_csv('valid_punch_df.csv', parse_dates=['date', 'created_time', 'end_time'])

In [17]:
# 計算IPH指標
productivity_varable = {
    'DL%':1,
    'DL % threshold':0.6,
    'Docked':75,
    'Arrived':125,
    'QC':4638,
    'Labeling':850,
    'Received':800,
    'Putaway':65,
    'Putaway_4floor':65,
    'Picking':114,
    'Packing':143,
    'Counting':1000,
    'AWB':720,
    'RTS':300,
    'RT_picking':726,
    'RT_putaway':726,
    'RT_picking_4floor':726,
    'RT_putaway_4floor':726,
    'Cyclecount':850,
    'Cyclecount_4floor':850,
    'Testing':20,  # 新增計算IPH指標
    'Print':200  # 20210716待確認
}

# team lead productivity 計算TL會用到
team_prod_dict = {
    'Picking':'出貨控場',
    'Packing':'出貨控場',
    'AWB':'出貨控場',
    'Arrived':'進貨控場',
    'Counting':'進貨控場',
    'QC':'進貨控場',
    'Labeling':'進貨控場',
    'Received':'進貨控場',
    'Docked':'進貨控場',
    'Print':'進貨控場',
    'RT_picking':'移庫控場',
    'RT_putaway':'移庫控場',
    'RT_picking_4floor':'移庫控場_四樓',
    'RT_putaway_4floor':'移庫控場_四樓',
    'RTS':np.nan,
    'Putaway':'移庫控場',
    'Putaway_4floor':'移庫控場_四樓',
    'Cyclecount':'盤點控場',
    'Testing':'測試控場',  # 新增種類的控場
    'Cyclecount_4floor':'盤點控場_四樓'
}

cat_name = ['Docked', 'Arrived', 'Counting', 'QC', 'Labeling',
            'Received', 'Putaway', 'Putaway_4floor', 'Picking', 'Packing',
            'AWB', 'RTS', 'RT_picking', 'RT_picking_4floor', 'RT_putaway',
            'RT_putaway_4floor', 'Cyclecount', 'Cyclecount_4floor', 'Print', 'Testing']  # 新增新的種類

In [23]:
iph[iph.type == 'Testing']

,ID,type,created_time,end_time,hour,total_pcs,function
7078,sp1234,Testing,2021-06-01 07:31:00,2021-06-01 08:41:00,1.166667,35.0,測試控場

In [27]:
merge_df = get_merge_df(whole_df, punch_df)
merge_df['type'] = np.where(merge_df['punch_type'].str.contains('_4floor'), merge_df['punch_type'], merge_df['type'])
iph = merge_df.groupby(['ID', 'type', 'created_time', 'end_time', 'hour'])['total_pcs'].agg([np.sum]).reset_index()\
              .rename(columns={'sum':'total_pcs'})
iph['function'] = iph['type'].map(team_prod_dict)

def prod_ratio_calculate(iph, function, start, end):
    iph_ckeck = iph[(iph['function'].values == function) & \  # 是出貨控場
                    (iph['created_time'].values <= end) & 
                    (iph['end_time'].values >= start)]\
                    .groupby(['ID', 'type'])[['hour', 'total_pcs']].agg(np.sum).reset_index()
    iph_ckeck['hour'] = np.where(iph_ckeck['hour'].values == 0, 0.008333, iph_ckeck['hour'].values)
    iph_ckeck['iph'] = iph_ckeck['total_pcs'].values / iph_ckeck['hour'].values
    iph_ckeck['meet_goal'] = np.where(iph_ckeck['iph'].values >= iph_ckeck['type'].map(productivity_varable), 1, 0)
    return pd.Series([np.sum(iph_ckeck['meet_goal']),
                      iph_ckeck.shape[0]])

team_df = punch_df[(punch_df['function_name'] == 'MGMT') & (punch_df['min'] >= 30)]
display(team_df)

team_df[['arrive_thres', 'count']] = team_df.apply(lambda row:prod_ratio_calculate(iph, row['function'], row['created_time'], row['end_time']), axis=1)
team_df['prod_hour_ratio'] = np.where(team_df['count'] == 0, 0, team_df['arrive_thres'].values / team_df['count'].values)

# 1. team_df
# team_df.to_excel('mgmt_by_time.xlsx', index=False)
team_df

,date,ID,name,role,class,group,function,Unnamed: 7,function_name,function_role,min,created_time,end_time,type,hour,revised station
1,2021-06-01,sp99088,李奇泰,正職,小夜,OUTBOUND,出貨控場,OUTBOUND,MGMT,CONTROL,254.0,2021-06-01 06:50:39,2021-06-01 11:04:43,NaN,4.233333,CONTROL
54,2021-06-01,sp99094,徐彥雲,正職,早7,OUTBOUND,出貨控場,OUTBOUND,MGMT,CONTROL,297.0,2021-06-01 07:04:19,2021-06-01 12:01:44,NaN,4.950000,CONTROL
93,2021-06-01,sp99028,張奕惟,正職,早7,OUTBOUND,移庫控場,TRANSFER,MGMT,CONTROL,892.0,2021-06-01 07:14:16,2021-06-01 22:07:00,NaN,14.866667,CONTROL
103,2021-06-01,sp5678,控場人員一,正職,早7,TEST,測試,TEST,MGMT,CONTROL,40.0,2021-06-01 07:45:00,2021-06-01 08:25:00,NaN,0.666667,CONTROL
121,2021-06-01,sp99036,陳膺璽,正職,小夜,OUTBOUND,出貨控場,OUTBOUND,MGMT,CONTROL,379.0,2021-06-01 08:37:15,2021-06-01 14:56:26,NaN,6.316667,CONTROL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26269,2021-06-30,sp99018,張宜君,正職,早9,INBOUND,盤點控場_四樓,COUNT,MGMT,CONTROLFOURF,127.0,2021-06-30 15:50:29,2021-06-30 17:58:01,NaN,2.116667,CONTROL
26314,2021-06-30,sp99103,李浤銘,正職,小夜,OUTBOUND,移庫控場,TRANSFER,MGMT,CONTROL,189.0,2021-06-30 18:29:51,2021-06-30 21:39:35,NaN,3.150000,CONTROL
26403,2021-06-30,sp99018,張宜君,正職,早9,INBOUND,盤點控場_四樓,COUNT,MGMT,CONTROLFOURF,91.0,2021-06-30 18:35:51,2021-06-30 20:07:16,NaN,1.516667,CONTROL
26459,2021-06-30,sp99054,黃巧欣,正職,早9,COUNT,盤點控場_四樓,COUNT,MGMT,CONTROLFOURF,75.0,2021-06-30 18:49:40,2021-06-30 20:05:23,NaN,1.250000,CONTROL
26467,2021-06-30,sp99036,陳膺璽,正職,小夜,OUTBOUND,出貨控場,OUTBOUND,MGMT,CONTROL,181.0,2021-06-30 19:02:59,2021-06-30 22:04:28,NaN,3.016667,CONTROL

,date,ID,name,role,class,group,function,Unnamed: 7,function_name,function_role,min,created_time,end_time,type,hour,revised station,arrive_thres,count,prod_hour_ratio
1,2021-06-01,sp99088,李奇泰,正職,小夜,OUTBOUND,出貨控場,OUTBOUND,MGMT,CONTROL,254.0,2021-06-01 06:50:39,2021-06-01 11:04:43,NaN,4.233333,CONTROL,0,0,0.0
54,2021-06-01,sp99094,徐彥雲,正職,早7,OUTBOUND,出貨控場,OUTBOUND,MGMT,CONTROL,297.0,2021-06-01 07:04:19,2021-06-01 12:01:44,NaN,4.950000,CONTROL,0,0,0.0
93,2021-06-01,sp99028,張奕惟,正職,早7,OUTBOUND,移庫控場,TRANSFER,MGMT,CONTROL,892.0,2021-06-01 07:14:16,2021-06-01 22:07:00,NaN,14.866667,CONTROL,0,0,0.0
103,2021-06-01,sp5678,控場人員一,正職,早7,TEST,測試,TEST,MGMT,CONTROL,40.0,2021-06-01 07:45:00,2021-06-01 08:25:00,NaN,0.666667,CONTROL,0,0,0.0
121,2021-06-01,sp99036,陳膺璽,正職,小夜,OUTBOUND,出貨控場,OUTBOUND,MGMT,CONTROL,379.0,2021-06-01 08:37:15,2021-06-01 14:56:26,NaN,6.316667,CONTROL,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26269,2021-06-30,sp99018,張宜君,正職,早9,INBOUND,盤點控場_四樓,COUNT,MGMT,CONTROLFOURF,127.0,2021-06-30 15:50:29,2021-06-30 17:58:01,NaN,2.116667,CONTROL,0,0,0.0
26314,2021-06-30,sp99103,李浤銘,正職,小夜,OUTBOUND,移庫控場,TRANSFER,MGMT,CONTROL,189.0,2021-06-30 18:29:51,2021-06-30 21:39:35,NaN,3.150000,CONTROL,0,0,0.0
26403,2021-06-30,sp99018,張宜君,正職,早9,INBOUND,盤點控場_四樓,COUNT,MGMT,CONTROLFOURF,91.0,2021-06-30 18:35:51,2021-06-30 20:07:16,NaN,1.516667,CONTROL,0,0,0.0
26459,2021-06-30,sp99054,黃巧欣,正職,早9,COUNT,盤點控場_四樓,COUNT,MGMT,CONTROLFOURF,75.0,2021-06-30 18:49:40,2021-06-30 20:05:23,NaN,1.250000,CONTROL,0,0,0.0
26467,2021-06-30,sp99036,陳膺璽,正職,小夜,OUTBOUND,出貨控場,OUTBOUND,MGMT,CONTROL,181.0,2021-06-30 19:02:59,2021-06-30 22:04:28,NaN,3.016667,CONTROL,0,0,0.0

In [6]:
team_df_day = team_df.groupby(['ID', 'name', 'date', 'function'])[['hour', 'arrive_thres', 'count']].agg(np.sum).reset_index()
team_df_day['prod_day_ratio'] = np.where(team_df_day['count'] == 0, 0, team_df_day['arrive_thres'].values / team_df_day['count'].values)
team_df_day

,ID,name,date,function,hour,arrive_thres,count,prod_day_ratio
0,sp1272,鄒珮琪,2021-06-01,移庫控場_四樓,12.983333,0,4,0.000000
1,sp1272,鄒珮琪,2021-06-06,移庫控場_四樓,12.216667,1,36,0.027778
2,sp1272,鄒珮琪,2021-06-07,移庫控場_四樓,11.600000,2,34,0.058824
3,sp1272,鄒珮琪,2021-06-08,移庫控場_四樓,11.150000,1,35,0.028571
4,sp1272,鄒珮琪,2021-06-13,移庫控場_四樓,8.300000,1,14,0.071429
...,...,...,...,...,...,...,...,...
298,sp99103,李浤銘,2021-06-23,移庫控場,11.550000,2,173,0.011561
299,sp99103,李浤銘,2021-06-27,移庫控場,9.316667,2,176,0.011364
300,sp99103,李浤銘,2021-06-28,移庫控場,11.366667,10,218,0.045872
301,sp99103,李浤銘,2021-06-29,移庫控場,11.366667,2,199,0.010050
302,sp99103,李浤銘,2021-06-30,移庫控場,10.683333,6,147,0.040816

In [7]:
productivity_tl = team_df_day.groupby(['ID', 'name'])['prod_day_ratio'].agg(['count', np.mean]).reset_index()\
                             .rename(columns={'count':'days_on_duty', 'mean':'TL_produtivity_score'})
productivity_tl

         ID name  days_on_duty  TL_produtivity_score
0    sp1272  鄒珮琪             9              0.048187
1    sp1409  黎有玉             1              0.112745
2   sp99004  陳衣玲            14              0.054636
3   sp99015  何美玉            14              0.155643
4   sp99018  張宜君            18              0.051580
5   sp99025  李冠霖            14              0.044277
6   sp99028  張奕惟            16              0.017573
7   sp99036  陳膺璽            16              0.146009
8   sp99044  林羽芯             3              0.067901
9   sp99045  莊佩玲            10              0.187899
10  sp99054  黃巧欣            11              0.117201
11  sp99055  潘怡安             5              0.066591
12  sp99056  許錦州             1              0.026316
13  sp99059  羅丹竺            18              0.133326
14  sp99063  林川評            11              0.052103
15  sp99067  徐嘉妤            13              0.053163
16  sp99081  林羿溱            11              0.053798
17  sp99083  李錫慈            14              0.036050
18  sp99086  張怡卿            14              0.138073
19  sp99087  楊濬嘉            14              0.022858
20  sp99088  李奇泰            16              0.131790
21  sp99094  徐彥雲            16              0.132988
22  sp99095  王瑞芳            14              0.148132
23  sp99101  李宜秦            14              0.044847
24  sp99103  李浤銘            16              0.023724

In [8]:
productivity_team_function = pd.crosstab([team_df_day['ID'], team_df_day['name'], team_df_day['function']],
                                         team_df_day['date'],
                                         values=team_df_day['prod_day_ratio'], aggfunc='mean')
productivity_team_function['date_on_duty'] = productivity_team_function.count(axis=1)
productivity_team_function.reset_index(inplace=True)
productivity_team_function

date,ID,name,function,2021-06-01 00:00:00,2021-06-02 00:00:00,2021-06-03 00:00:00,2021-06-04 00:00:00,2021-06-05 00:00:00,2021-06-06 00:00:00,2021-06-07 00:00:00,...,2021-06-22 00:00:00,2021-06-23 00:00:00,2021-06-24 00:00:00,2021-06-25 00:00:00,2021-06-26 00:00:00,2021-06-27 00:00:00,2021-06-28 00:00:00,2021-06-29 00:00:00,2021-06-30 00:00:00,date_on_duty
0,sp1272,鄒珮琪,移庫控場_四樓,0.000000,NaN,NaN,NaN,NaN,0.027778,0.058824,...,0.173913,NaN,NaN,NaN,NaN,0.000000,0.073171,0.000000,NaN,9
1,sp1409,黎有玉,出貨控場,NaN,NaN,0.112745,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,sp99004,陳衣玲,盤點控場_四樓,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.142857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,sp99004,陳衣玲,移庫控場_四樓,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.185185,0.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,sp99004,陳衣玲,進貨控場,0.058140,NaN,NaN,NaN,NaN,0.000000,0.086331,...,NaN,0.050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
5,sp99015,何美玉,出貨控場,NaN,0.165414,0.055556,0.158879,0.149485,NaN,NaN,...,NaN,NaN,0.260870,0.191336,0.130769,NaN,NaN,NaN,NaN,14
6,sp99018,張宜君,盤點控場_四樓,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.021739,1
7,sp99018,張宜君,移庫控場_四樓,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,5
8,sp99018,張宜君,進貨控場,0.060241,NaN,NaN,NaN,NaN,0.000000,0.098039,...,0.081081,0.032787,NaN,NaN,NaN,NaN,0.083333,0.036232,NaN,12
9,sp99025,李冠霖,移庫控場_四樓,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.125000,0.000000,0.119048,NaN,NaN,NaN,NaN,14
10,sp99028,張奕惟,移庫控場,0.000000,NaN,NaN,NaN,NaN,0.043478,0.000000,...,0.012821,0.000000,NaN,NaN,NaN,0.000000,0.052083,0.000000,0.000000,16
11,sp99036,陳膺璽,出貨控場,0.072519,NaN,NaN,NaN,NaN,0.193029,0.194366,...,0.097744,0.150183,NaN,NaN,NaN,0.127660,0.152174,0.098940,0.175439,16
12,sp99044,林羽芯,盤點控場_四樓,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
13,sp99044,林羽芯,進貨控場,NaN,0.037037,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
14,sp99045,莊佩玲,盤點控場_四樓,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.272727,0.000000,0.583333,NaN,NaN,NaN,NaN,10
15,sp99054,黃巧欣,盤點控場_四樓,NaN,NaN,NaN,NaN,NaN,0.208333,0.055556,...,NaN,0.047619,NaN,NaN,NaN,0.159091,0.055556,0.666667,0.000000,11
16,sp99055,潘怡安,盤點控場,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,5
17,sp99056,許錦州,進貨控場,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
18,sp99059,羅丹竺,出貨控場,NaN,0.180000,0.079365,0.155963,0.140940,NaN,NaN,...,NaN,NaN,0.154574,0.155378,0.119593,NaN,NaN,NaN,NaN,14
19,sp99059,羅丹竺,盤點控場,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
20,sp99059,羅丹竺,移庫控場,NaN,NaN,NaN,NaN,0.071429,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
21,sp99063,林川評,進貨控場,0.060241,NaN,NaN,NaN,NaN,0.000000,0.097222,...,0.080000,0.039548,NaN,NaN,NaN,NaN,0.097222,0.036496,NaN,11
22,sp99067,徐嘉妤,進貨控場,NaN,0.084746,0.044444,0.073171,0.062016,NaN,NaN,...,NaN,NaN,0.058442,0.059140,0.029703,NaN,NaN,NaN,NaN,13
23,sp99081,林羿溱,進貨控場,NaN,0.079470,0.035714,0.106667,0.074380,NaN,NaN,...,NaN,NaN,0.033708,0.047297,NaN,NaN,NaN,NaN,NaN,11
24,sp99083,李錫慈,移庫控場,NaN,0.000000,0.016260,0.135135,0.059406,NaN,NaN,...,NaN,NaN,0.019231,0.019802,0.009217,NaN,NaN,NaN,NaN,14
25,sp99086,張怡卿,出貨控場,NaN,0.180180,0.069672,0.147239,0.168367,NaN,NaN,...,NaN,NaN,0.173184,0.111782,0.112903,NaN,NaN,NaN,NaN,14
26,sp99087,楊濬嘉,移庫控場,NaN,0.000000,0.007407,0.000000,0.067524,NaN,NaN,...,NaN,NaN,0.019900,0.016304,0.008969,NaN,NaN,NaN,NaN,14
27,sp99088,李奇泰,出貨控場,0.086580,NaN,NaN,NaN,NaN,0.162055,0.175573,...,0.098246,0.132231,NaN,NaN,NaN,0.112903,0.130000,0.130282,0.155844,16
28,sp99094,徐彥雲,出貨控場,0.082969,NaN,NaN,NaN,NaN,0.198675,0.194757,...,0.098639,0.127572,NaN,NaN,NaN,0.121212,0.116147,0.125436,0.157895,16
29,sp99095,王瑞芳,出貨控場,NaN,0.155689,0.094340,0.148649,0.161290,NaN,NaN,...,NaN,NaN,0.156250,0.167315,0.110276,NaN,NaN,NaN,NaN,14
30,sp99101,李宜秦,進貨控場,NaN,0.084746,0.043478,0.068966,0.063291,NaN,NaN,...,NaN,NaN,0.060000,0.039409,0.029703,NaN,NaN,NaN,NaN,14
31,sp99103,李浤銘,移庫控場,0.013072,NaN,NaN,NaN,NaN,0.049180,0.030488,...,0.017647,0.011561,NaN,NaN,NaN,0.011364,0.045872,0.010050,0.040816,16

In [10]:
import os
output_file_path = './output'
tl_output_path = os.path.join(output_file_path, "productivity_TL_{}.xlsx".format('test'))

# Checkpoint 7: 計算productivity_TL
def get_prod_TL_score(cat_name, productivity_varable, team_prod_dict, whole_df, punch_df, tl_output_path):
    '''
    計算Team Lead的Productivity Score
    Team Lead：只要打卡紀錄function_name出現過MGMT即視為Team Lead，但只計算每次打卡期間超過30分鐘的打卡
    input:
    1. cat_name：工作type的list
    2. productivity_varable：每種工作type的IPH績效
    3. whole_df：結合IB、OB、INV的資料
    4. punch_df：整理後打卡記錄表
    output: 計算績效的DataFrame
    '''
    merge_df = get_merge_df(whole_df, punch_df)
    merge_df['type'] = np.where(merge_df['punch_type'].str.contains('_4floor'), merge_df['punch_type'], merge_df['type'])
    iph = merge_df.groupby(['ID', 'type', 'created_time', 'end_time', 'hour'])['total_pcs'].agg([np.sum]).reset_index()\
                  .rename(columns={'sum':'total_pcs'})
    iph['function'] = iph['type'].map(team_prod_dict)

    def prod_ratio_calculate(iph, function, start, end):
        iph_ckeck = iph[(iph['function'].values == function) &\
                        (iph['created_time'].between(start, end) | iph['end_time'].between(start, end))]\
                        .groupby(['ID', 'type'])[['hour', 'total_pcs']].agg(np.sum).reset_index()
        iph_ckeck['hour'] = np.where(iph_ckeck['hour'].values == 0, 0.008333, iph_ckeck['hour'].values)
        iph_ckeck['iph'] = iph_ckeck['total_pcs'].values / iph_ckeck['hour'].values
        iph_ckeck['meet_goal'] = np.where(iph_ckeck['iph'].values >= iph_ckeck['type'].map(productivity_varable), 1, 0)
        return pd.Series([np.sum(iph_ckeck['meet_goal']),
                          iph_ckeck.shape[0]])
    
    # 1. team_df：以每次打卡記錄計算
    team_df = punch_df[(punch_df['function_name'] == 'MGMT') & (punch_df['min'] >= 30)]
    team_df[['arrive_thres', 'count']] = team_df.apply(lambda row:prod_ratio_calculate(iph, row['function'], row['created_time'], row['end_time']), axis=1)
    team_df['prod_hour_ratio'] = np.where(team_df['count'] == 0, 0, team_df['arrive_thres'].values / team_df['count'].values)
    
    # 2. team_df_day：以每天打卡記錄計算
    team_df_day = team_df.groupby(['ID', 'name', 'date', 'function'])[['hour', 'arrive_thres', 'count']].agg(np.sum).reset_index()
    team_df_day['prod_day_ratio'] = np.where(team_df_day['count'] == 0, 0, team_df_day['arrive_thres'].values / team_df_day['count'].values)

    # 3. productivity_tl：該月每個team lead負責控場天數及平均達標率（若一天有兩種控場，算兩天）
    productivity_tl = team_df_day.groupby(['ID', 'name'])['prod_day_ratio'].agg(['count', np.mean]).reset_index()\
                             .rename(columns={'count':'days_on_duty', 'mean':'TL_produtivity_score'})
    
    # 4. productivity_team_function：該月每個team lead每天控場達標率
    productivity_team_function = pd.crosstab([team_df_day['ID'], team_df_day['name'], team_df_day['function']],
                                         team_df_day['date'],
                                         values=team_df_day['prod_day_ratio'], aggfunc='mean')
    productivity_team_function['date_on_duty'] = productivity_team_function.count(axis=1)
    productivity_team_function.reset_index(inplace=True)
    
    with pd.ExcelWriter(tl_output_path) as writer:  
        team_df.to_excel(writer, sheet_name='team_df', index=False, encoding="utf_8_sig")
        team_df_day.to_excel(writer, sheet_name='team_df_day', index=False, encoding="utf_8_sig")
        productivity_tl.to_excel(writer, sheet_name='productivity_tl', index=False, encoding="utf_8_sig")
        productivity_team_function.to_excel(writer, sheet_name='productivity_team_function', index=False, encoding="utf_8_sig")

In [11]:
get_prod_TL_score(cat_name, productivity_varable, team_prod_dict, whole_df, punch_df, tl_output_path)