In [2]:
import time
import os
import numpy as np
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')

In [3]:
import os
file_name = os.listdir("Output/March/productivity_agent_valid")
# file_name = [name for name in file_name]

In [8]:
output = pd.DataFrame()

for file in file_name:
    date = file.replace("productivity_agent_", "").replace("_valid", "").replace(".xlsx", "")
    df = pd.read_excel(os.path.join("Output/March/productivity_agent_valid", file))
    df = df[["ID", "name", "class", "Productivity Score"]]
    df.rename(columns={"Productivity Score"})
#     if output.empty:
#         output = df
#     else:
#         output.merge
#         break
    print(date)
    break

2022-03-26

In [5]:
output

         ID  name class  Productivity Score
0    sp0446   高智勇    小夜            0.000000
1    sp0480  張氏金枝    早7            0.752563
2    sp0483  泰吳清泉    早7            0.640912
3    sp0492  阮氏秋香    早7            0.660684
4    sp0495  盤氏雲英    早7            0.871519
..      ...   ...   ...                 ...
85  sp99103   李浤銘    小夜            0.642343
86  sp99115   徐鶴娟    小夜            0.000000
87  sp99119   林敬智    早7            0.000000
88  sp99121   劉家偉    小夜            0.449272
89  sp99124   傅琇蓁    早7            0.452530

[90 rows x 4 columns]