In [63]:
import time
import os
import numpy as np
import pandas as pd
import datetime
import warnings
from google.oauth2.service_account import Credentials
import gspread
warnings.filterwarnings('ignore')

import pandas as pd
import datetime
month = "2022-03"
month_first_day = datetime.datetime.strptime(month, "%Y-%m")
month_num = str(month_first_day.month)  # 得到str月份
month_shortname = month_first_day.strftime("%b")  # e.g. Jul, Jun
month_fullname = month_first_day.strftime("%B")  # e.g. July, June

In [112]:
day = "2022-04-22"

In [102]:
class gdoc_information():
    def __init__(self):
        self.SCOPES = ""
        self.SAMPLE_SPREADSHEET_ID = ""
        self.SAMPLE_RANGE_NAME = ""

scope = ['https://www.googleapis.com/auth/spreadsheets']
creds = Credentials.from_service_account_file("credentials.json", scopes=scope)
gs = gspread.authorize(creds)

ppl_schema = gdoc_information()
ppl_schema.SCOPES = 'https://docs.google.com/spreadsheets/d/1fKqmL3VS1aDjdeJR_MqLQwu9mdEjf_Ci8PV1QCp-M6Q'  # 不用每個月更改
ppl_schema.SAMPLE_RANGE_NAME = '通訊錄'  # 抓整張工作表，之後再選要的欄位
human_gsheet = gs.open_by_url(ppl_schema.SCOPES).worksheet(ppl_schema.SAMPLE_RANGE_NAME)
human_df = pd.DataFrame(human_gsheet.get_all_records(), columns=["WMS帳號", "公司", "PDA帳號", "worker_name"])
human_df.columns = ['員編', '公司', 'PDA帳號', 'worker_name']

id_name_dic = {str(x).lower(): y for x, y in zip(human_df['員編'], human_df['worker_name'])}

type_dic = {
    '碼頭收發': 'Docked',
    '收貨': 'Arrived',
    '進貨計數': 'Counting',
    '品管': 'QC',
    '貼標': 'Labeling',
    '貴重驗收': 'Received',
    '箱賣': 'Received',
    '小驗': 'Received',
    '大驗': 'Received',
    '上架基架': 'Putaway',
    '上架棧板': 'Putaway',
    '上架基架_四樓': 'Putaway_4floor',
    '上架棧板_四樓': 'Putaway_4floor',
    '揀貨': 'Picking',
    '包裝': 'Packing',
    '出貨': 'AWB',
    '退貨出貨': 'RTS',
    '退貨包裝': 'RTS',
    '退貨揀貨': 'RTS',
    '移庫揀貨': 'RT_picking',
    '移庫上架': 'RT_putaway',
    '移庫揀貨_四樓': 'RT_picking_4floor',
    '移庫上架_四樓': 'RT_putaway_4floor',
    '盤點系統盤': 'Cyclecount',
    '盤點系統盤_四樓': 'Cyclecount_4floor',
    '印標': 'Print'
    # '出貨5S': 'Testing'  # 直接加上新的種類即可
}

In [95]:
punch_file_name = 'Input/punch_for-attendance_{}.xlsx'.format(month_fullname)
punch_raw_df = pd.read_excel(punch_file_name)
punch_raw_df

,date,ID,name,role,class,group,function,Unnamed: 7,function_name,function_role,min,created_time,end_time,Unnamed: 13
0,2022-02-28,SP0168,倪娜珍,約聘,早7,OUTBOUND,出貨5S,OUTBOUND,OTHERS,FIVES,5,2022-02-28 17:49:35,2022-02-28 17:55:21,NaN
1,2022-02-28,SP0168,倪娜珍,約聘,早7,OUTBOUND,揀貨,OUTBOUND,PICKING,PICKING,73,2022-02-28 07:04:47,2022-02-28 08:18:44,NaN
2,2022-02-28,SP0168,倪娜珍,約聘,早7,OUTBOUND,盤點系統盤,COUNT,SYSTEM,SYSTEM,157,2022-02-28 08:18:48,2022-02-28 10:56:38,NaN
3,2022-02-28,SP0168,倪娜珍,約聘,早7,OUTBOUND,盤點系統盤,COUNT,SYSTEM,SYSTEM,120,2022-02-28 11:57:24,2022-02-28 13:57:27,NaN
4,2022-02-28,SP0168,倪娜珍,約聘,早7,OUTBOUND,盤點系統盤,COUNT,SYSTEM,SYSTEM,210,2022-02-28 14:18:55,2022-02-28 17:49:18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21835,2022-03-31,SP99124,傅琇蓁,正職,早7,OUTBOUND,盤點系統盤,COUNT,SYSTEM,SYSTEM,54,2022-03-31 06:56:44,2022-03-31 07:50:48,NaN
21836,2022-03-31,SP99124,傅琇蓁,正職,早7,OUTBOUND,退貨出貨,RETURN,OUTBOUND,OUTBOUND,24,2022-03-31 12:24:02,2022-03-31 12:48:56,NaN
21837,2022-03-31,SP99124,傅琇蓁,正職,早7,OUTBOUND,退貨出貨,RETURN,OUTBOUND,OUTBOUND,14,2022-03-31 15:07:03,2022-03-31 15:21:22,NaN
21838,2022-03-31,SP99124,傅琇蓁,正職,早7,OUTBOUND,退貨包裝,RETURN,PACKING,PACKING,14,2022-03-31 12:09:37,2022-03-31 12:24:01,NaN
21839,2022-03-31,SP99124,傅琇蓁,正職,早7,OUTBOUND,退貨揀貨,RETURN,PICKING,PICKING,4,2022-03-31 12:04:50,2022-03-31 12:09:35,NaN

In [105]:
ob_pics_file_path = 'Input/OB_production_{}.xlsx'.format(month_fullname)
ob_pic_df = pd.read_excel(ob_pics_file_path, parse_dates=['create_time'])
ob_pic_df

         type         create_time workers  pcs
0       4_awb 2022-03-01 00:09:20  SP1452    1
1       4_awb 2022-03-01 00:15:01  SP1452    1
2       4_awb 2022-03-01 00:15:03  SP1452    1
3       4_awb 2022-03-01 00:15:06  SP1452    1
4       4_awb 2022-03-01 00:15:07  SP1452    1
...       ...                 ...     ...  ...
340865  4_awb 2022-03-31 11:01:34     SP1    1
340866  4_awb 2022-03-31 11:01:38     SP1    1
340867  4_awb 2022-03-31 11:01:40     SP1    1
340868  4_awb 2022-03-31 11:01:44     SP1    1
340869  4_awb 2022-03-31 11:01:46     SP1    1

[340870 rows x 4 columns]

In [116]:
# IB_gdoc = gdoc_information()
# IB_gdoc.SCOPES = 'https://docs.google.com/spreadsheets/d/1ttys51yVmai8MrQH-HlmbSJFlLITIcTjpXPEGQNEJQY/'  # 不用每個月更改
# IB_gdoc.SAMPLE_RANGE_NAME = "IB"

# WMS_gdoc = gdoc_information()
# WMS_gdoc.SCOPES = 'https://docs.google.com/spreadsheets/d/1ttys51yVmai8MrQH-HlmbSJFlLITIcTjpXPEGQNEJQY/'
# WMS_gdoc.SAMPLE_RANGE_NAME = "WMS"

# INV_gdoc = gdoc_information()
# INV_gdoc.SCOPES = 'https://docs.google.com/spreadsheets/d/1ttys51yVmai8MrQH-HlmbSJFlLITIcTjpXPEGQNEJQY/'
# INV_gdoc.SAMPLE_RANGE_NAME = "INV"

# Punch_gdoc = gdoc_information()
# Punch_gdoc.SCOPES = 'https://docs.google.com/spreadsheets/d/1ttys51yVmai8MrQH-HlmbSJFlLITIcTjpXPEGQNEJQY/'
# Punch_gdoc.SAMPLE_RANGE_NAME = "punch"

OB_gdoc = gdoc_information()
OB_gdoc.SCOPES = 'https://docs.google.com/spreadsheets/d/1ttys51yVmai8MrQH-HlmbSJFlLITIcTjpXPEGQNEJQY/'
OB_gdoc.SAMPLE_RANGE_NAME = "OB"

AWB_gdoc = gdoc_information()
AWB_gdoc.SCOPES = 'https://docs.google.com/spreadsheets/d/1ttys51yVmai8MrQH-HlmbSJFlLITIcTjpXPEGQNEJQY/'
AWB_gdoc.SAMPLE_RANGE_NAME = "AWB"

In [130]:
type(ob_gsheet.get_all_records())

list

In [129]:
a.extend(awb_gsheet.get_all_records())

In [117]:
awb_gsheet = gs.open_by_url(AWB_gdoc.SCOPES).worksheet(AWB_gdoc.SAMPLE_RANGE_NAME)
ob_gsheet = gs.open_by_url(OB_gdoc.SCOPES).worksheet(OB_gdoc.SAMPLE_RANGE_NAME)

awb_df = pd.DataFrame(awb_gsheet.get_all_records())
ob_pic_df = pd.DataFrame(ob_gsheet.get_all_records()).append(awb_df)

# ob_pic_df['create_time'] = pd.to_datetime(ob_pic_df['create_time'], errors='coerce')

In [113]:
ob_pic_df["DATE"] = ob_pic_df["create_time"].apply(lambda x: x.strftime('%Y-%m-%d'))
ob_pic_df = ob_pic_df[ob_pic_df["DATE"] == day]
ob_pic_df.drop(columns='DATE')

ob_pic_df['workers'] = ob_pic_df['workers'].str.lower().astype('str')
ob_pic_df['type'] = ob_pic_df['type'].map({'1_picking': 'Picking', '3_packing': 'Packing', '4_awb': 'AWB'})

In [114]:
ob_pic_df

          type         create_time  workers  pcs        DATE
4      Packing 2022-04-22 08:41:40  sp99077    1  2022-04-22
9      Packing 2022-04-22 16:40:54   sp2585    5  2022-04-22
13     Packing 2022-04-22 12:09:05   sp0989    3  2022-04-22
19     Packing 2022-04-22 14:22:23   sp0540    4  2022-04-22
23     Packing 2022-04-22 17:27:21   sp1741    2  2022-04-22
...        ...                 ...      ...  ...         ...
59042  Packing 2022-04-22 10:47:39   sp0994    1  2022-04-22
59053  Packing 2022-04-22 07:32:41   sp0523    1  2022-04-22
59055  Packing 2022-04-22 12:29:06  sp99080    1  2022-04-22
59056  Packing 2022-04-22 15:17:11  sp99077    3  2022-04-22
59064  Packing 2022-04-22 08:44:03   sp1740    5  2022-04-22

[14216 rows x 5 columns]